{% extends 'base.html' %}
{% block content %}
<section class="card">
    <div class="card-header">
        <div class="progress-wrap">
            <div>Question {{ number }} of {{ total }}</div>
            <div class="progress">
                <div class="progress-bar" style="width: {{ (number/total*100)|round(0, 'floor') }}%"></div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="prompt">{{ question.prompt }}</p>
        <form action="{{ url_for('answer') }}" method="post" class="choices">
            {% for choice in question.choices %}
            <label class="choice choice-hover">
                <input class="visually-hidden" type="radio" name="choice" value="{{ loop.index0 }}" required />
                <span class="bullet"></span>
                <span class="choice-text">{{ choice }}</span>
            </label>
            {% endfor %}
            <div class="actions">
                <button class="primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}


